In [1]:
import numpy as np
import requests as rq
import pandas as pd

In [2]:

from nba_api.stats.endpoints import playercareerstats
from nba_api.live.nba.endpoints import scoreboard
from nba_api.stats.endpoints import leagueleaders
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import leaguestandings
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguedashteamstats

In [61]:
## player id --> create a loop for this to grap the current year stats
## season averages

career_stat_columns = ['FG3M', 'REB', 'AST', 'STL', 'BLK', 'PTS']
careers = pd.DataFrame()
for i in range(len(home_rosters)):
# for i in range(2):

    career = playercareerstats.PlayerCareerStats(home_rosters['PLAYER_ID'][i]).get_data_frames()[0]
    # print(home_rosters['PLAYER_ID'][i])
    # Divide each selected column by the number of games played
    per_game_averages = career[career_stat_columns].div(career['GP'], axis=0)
    # print(per_game_averages)
    per_game_averages.insert(0, 'PLAYER_ID', career['PLAYER_ID'])
    per_game_averages.insert(0, 'SEASON_ID', career['SEASON_ID'])
    per_game_averages.insert(2, 'TEAM_ID', career['TEAM_ID'])
    per_game_averages.insert(3, 'TEAM_ABBREVIATION', career['TEAM_ABBREVIATION'])

    careers = pd.concat([careers, per_game_averages.tail(1)], axis=0, ignore_index=True)

careers.to_csv('home_players_careers.csv', index=False)

## Save but needs a loop

In [58]:
careers

,SEASON_ID,PLAYER_ID,TEAM_ID,TEAM_ABBREVIATION,FG3M,REB,AST,STL,BLK,PTS
0,2023-24,1630169,1610612754,IND,3.162791,3.906977,11.674419,1.023256,0.697674,21.837209
1,2023-24,203081,1610612749,MIL,2.901961,4.137255,6.725490,1.039216,0.196078,24.627451
2,2023-24,1628369,1610612738,BOS,3.057692,8.557692,4.788462,1.000000,0.596154,27.134615
3,2023-24,1630178,1610612755,PHI,3.040816,3.653061,6.428571,0.959184,0.510204,25.693878
4,2023-24,1630567,1610612761,TOR,1.781818,8.145455,5.963636,1.218182,1.454545,20.054545
5,2023-24,1631094,1610612753,ORL,1.545455,6.854545,5.254545,1.054545,0.527273,23.000000
6,2023-24,1627759,1610612738,BOS,1.940000,5.460000,3.740000,1.080000,0.560000,21.980000
7,2023-24,1628973,1610612752,NYK,2.673077,3.826923,6.461538,0.923077,0.192308,27.576923
8,2023-24,1629027,1610612737,ATL,3.340000,2.740000,10.920000,1.400000,0.220000,26.660000
9,2023-24,1628389,1610612748,MIA,0.022222,10.644444,4.177778,1.066667,0.955556,20.222222
10,2023-24,203954,1610612755,PHI,1.205882,11.294118,5.676471,1.147059,1.764706,35.323529
11,2023-24,203944,1610612752,NYK,1.652174,9.195652,4.978261,0.543478,0.260870,23.956522
12,2023-24,203507,1610612749,MIL,0.444444,11.222222,6.407407,1.351852,1.074074,30.777778
13,2023-24,1628378,1610612739,CLE,3.295455,5.409091,6.272727,1.909091,0.522727,28.386364

In [37]:
n = leaguedashteamstats.LeagueDashTeamStats().get_data_frames()[0][['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK']]

In [38]:
n

,TEAM_ID,TEAM_NAME,GP,W,L,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,1610612737,Atlanta Hawks,55,24,31,5,17,16,13,23,22,13,5,3,22
1,1610612738,Boston Celtics,55,43,12,2,17,7,29,2,1,2,26,4,1
2,1610612751,Brooklyn Nets,54,21,33,11,15,3,25,14,10,12,29,23,21
3,1610612766,Charlotte Hornets,54,13,41,28,26,18,28,21,19,11,30,29,30
4,1610612741,Chicago Bulls,55,26,29,14,28,4,9,15,7,17,18,21,20
5,1610612739,Cleveland Cavaliers,53,36,17,15,16,10,17,22,10,3,23,26,4
6,1610612742,Dallas Mavericks,55,32,23,23,22,5,26,23,2,14,2,7,14
7,1610612743,Denver Nuggets,55,36,19,9,6,8,24,12,16,9,20,17,11
8,1610612765,Detroit Pistons,54,8,46,18,19,29,30,20,27,29,24,25,29
9,1610612744,Golden State Warriors,53,27,26,4,8,21,27,27,6,22,19,13,12
10,1610612745,Houston Rockets,54,24,30,6,27,9,16,26,24,28,10,24,16
11,1610612754,Indiana Pacers,56,31,25,26,1,20,6,7,25,30,16,1,13
12,1610612746,LA Clippers,53,36,17,25,23,5,8,17,4,10,17,15,5
13,1610612747,Los Angeles Lakers,56,30,26,13,4,22,4,9,15,1,4,6,19
14,1610612763,Memphis Grizzlies,56,20,36,21,21,27,7,3,29,23,13,28,25
15,1610612748,Miami Heat,55,30,25,23,20,11,18,30,14,6,12,27,18
16,1610612749,Milwaukee Bucks,56,35,21,7,10,12,22,13,3,25,6,2,10
17,1610612750,Minnesota Timberwolves,55,39,16,10,14,25,15,8,12,18,7,15,2
18,1610612740,New Orleans Pelicans,55,33,22,8,11,14,2,19,18,15,14,10,8
19,1610612752,New York Knicks,55,33,22,3,29,12,19,29,20,5,9,14,6
20,1610612760,Oklahoma City Thunder,54,37,17,29,13,2,5,1,17,16,15,8,3
21,1610612753,Orlando Magic,55,30,25,19,24,23,3,16,13,27,1,22,15
22,1610612755,Philadelphia 76ers,54,32,22,22,25,1,1,10,26,25,11,12,7
23,1610612756,Phoenix Suns,55,33,22,16,12,27,13,5,7,8,3,9,9
24,1610612757,Portland Trail Blazers,54,15,39,27,30,24,11,25,28,24,27,30,27
25,1610612758,Sacramento Kings,54,31,23,20,7,15,21,28,7,20,21,11,17
26,1610612759,San Antonio Spurs,55,11,44,17,2,26,20,5,5,4,22,20,26
27,1610612761,Toronto Raptors,55,19,36,12,3,17,12,18,21,7,25,18,24
28,1610612762,Utah Jazz,56,26,30,1,5,30,23,4,30,19,8,5,23
29,1610612764,Washington Wizards,54,9,45,30,9,19,10,11,23,21,28,19,28

In [3]:
## Games of the Day

games = scoreboard.ScoreBoard().get_dict()['scoreboard']['games']
# games_today.get_json()
# games_today.get_dict()['scoreboard']['games'][0]
columns = ['HomeTeamID', 'HomeTeam', 'HomeTeamWins', 'HomeTeamLosses', 'AwayTeamID', 'AwayTeam', 'AwayTeamWins', 'AwayTeamLosses']
games_today = pd.DataFrame(index=range(len(games)), columns = columns)

for i in range(len(games)):
    games_today['HomeTeamID'][i] = games[i]['homeTeam']['teamId']
    games_today['AwayTeamID'][i] = games[i]['awayTeam']['teamId']
    games_today['HomeTeam'][i] = games[i]['homeTeam']['teamTricode']
    games_today['AwayTeam'][i] = games[i]['awayTeam']['teamTricode']
    games_today['HomeTeamWins'][i] = games[i]['homeTeam']['wins']
    games_today['AwayTeamWins'][i] = games[i]['awayTeam']['wins']
    games_today['HomeTeamLosses'][i] = games[i]['homeTeam']['losses']
    games_today['AwayTeamLosses'][i] = games[i]['awayTeam']['losses']

games_today

## Save run 1st

,HomeTeamID,HomeTeam,HomeTeamWins,HomeTeamLosses,AwayTeamID,AwayTeam,AwayTeamWins,AwayTeamLosses
0,1610612739,CLE,36,17,1610612753,ORL,30,25
1,1610612754,IND,31,25,1610612765,DET,8,46
2,1610612755,PHI,32,22,1610612752,NYK,33,22
3,1610612761,TOR,19,36,1610612751,BKN,21,33
4,1610612742,DAL,32,23,1610612756,PHX,33,22
5,1610612741,CHI,26,29,1610612738,BOS,43,12
6,1610612740,NOP,33,22,1610612745,HOU,24,30
7,1610612760,OKC,37,17,1610612746,LAC,36,17
8,1610612743,DEN,36,19,1610612764,WAS,9,45
9,1610612762,UTA,26,30,1610612766,CHA,13,41
10,1610612744,GSW,27,26,1610612747,LAL,30,26
11,1610612758,SAC,31,23,1610612759,SAS,11,44

In [4]:
## data frame of all player IDs that are playing at home and away -->


home_teams = games_today['HomeTeamID'].to_list()
away_teams = games_today['AwayTeamID'].to_list()

home_opp=[]
away_opp=[]

columns = ['TeamID', 'PLAYER', 'POSITION', 'PLAYER_ID']
home_rosters = pd.DataFrame(columns = columns)
away_rosters = pd.DataFrame(columns = columns)

for team in range(len(home_teams)):
    home_rosters = pd.concat([home_rosters, commonteamroster.CommonTeamRoster(team_id=f"{home_teams[team]}").get_data_frames()[0][columns]], ignore_index=True)
    

for team in range(len(away_teams)):
    away_rosters = pd.concat([away_rosters, commonteamroster.CommonTeamRoster(team_id=f"{away_teams[team]}").get_data_frames()[0][columns]], ignore_index=True)
    

for player in range(len(home_rosters)):
    for i in range(len(home_teams)):
        if games_today['HomeTeamID'][i] == home_rosters['TeamID'][player]:
            home_opp.append(games_today['AwayTeam'][i])
          
for player in range(len(away_rosters)):
    for i in range(len(away_teams)):
        if games_today['AwayTeamID'][i] == away_rosters['TeamID'][player]:
            away_opp.append(games_today['HomeTeam'][i])          
            
home_opp = pd.DataFrame(home_opp, columns=['HomeOpp'])
home_rosters = pd.concat([home_rosters, home_opp], axis=1)

away_opp = pd.DataFrame(away_opp, columns=['AwayOpp'])
away_rosters = pd.concat([away_rosters, away_opp], axis=1)

## Save this will get home/away rosters

In [5]:
home_rosters

         TeamID           PLAYER POSITION PLAYER_ID HomeOpp
0    1610612739        Max Strus      G-F   1629622     ORL
1    1610612739        Ty Jerome      G-F   1629660     ORL
2    1610612739     Caris LeVert        G   1627747     ORL
3    1610612739      Evan Mobley        C   1630596     ORL
4    1610612739      Sam Merrill        G   1630241     ORL
..          ...              ...      ...       ...     ...
202  1610612758       Keon Ellis        G   1631165     SAS
203  1610612758         Alex Len        C    203458     SAS
204  1610612758      Jordan Ford        G   1630259     SAS
205  1610612758  Harrison Barnes        F    203084     SAS
206  1610612758       Trey Lyles        F   1626168     SAS

[207 rows x 5 columns]

In [73]:
## home stats

home_stats_df = pd.DataFrame()
last_ten_df = pd.DataFrame()
GP =[]

stat_columns = ['FG3M', 'REB', 'AST', 'STL', 'BLK', 'PTS']
last_10_columns = ['L10-FG3M', 'L10-REB', 'L10-AST', 'L10-STL', 'L10-BLK', 'L10-PTS']
# for player in range(12,14):
for player in range(len(home_rosters)):
    # print(player)
    ## game_log will get the player throughout the season
    game_log = playergamelog.PlayerGameLog(player_id=home_rosters['PLAYER_ID'][player]).get_data_frames()[0]
   

       ## home and away statistics
    home_games = game_log[~game_log['MATCHUP'].str.contains('@')]
    last_ten = game_log.head(10)
    try:
        home_stats = round(home_games[stat_columns].sum()/len(home_games),2)
        # print(home_stats)
        last_10_stats = last_ten[['FG3M', 'REB', 'AST', 'STL', 'BLK', 'PTS']].sum()/10
    except:
        home_stats = pd.Series([0, 0, 0, 0, 0, 0], index= stat_columns)
        print(player)
        last_10_stats = pd.Series([0, 0, 0, 0, 0, 0], index= stat_columns)
    
    home_stats_df = pd.concat([home_stats_df, home_stats.to_frame().transpose()], ignore_index=True )
    last_ten_df = pd.concat([last_ten_df, last_10_stats.to_frame().transpose()], ignore_index=True )
    GP.append(len(home_games))
    
home_stats_df.insert(0, 'GP', GP)


# Rename column headers
new_column_names = {'FG3M': 'L10-FG3M', 'REB': 'L10-REB','AST': 'L10-AST', 'STL': 'L10-STL','BLK': 'L10-BLK', 'PTS': 'L10-PTS'}
last_ten_df = last_ten_df.rename(columns=new_column_names)
    
home_player_stats = pd.concat([home_rosters,home_stats_df,last_ten_df], axis=1)
# home_player_stats.to_csv('home_player_stats.csv', index=False)
## Save pulls the stats for each home player

10
27
39
52
87
102
128
153
188
201

In [57]:
home_games[stat_columns].sum()/len(home_games)

FG3M    1.666667
REB     4.611111
AST     1.222222
STL     0.111111
BLK     0.388889
PTS     7.944444
dtype: float64

In [74]:
home_player_stats

,TeamID,PLAYER,POSITION,PLAYER_ID,HomeOpp,GP,FG3M,REB,AST,STL,BLK,PTS,L10-FG3M,L10-REB,L10-AST,L10-STL,L10-BLK,L10-PTS
0,1610612739,Max Strus,G-F,1629622,ORL,28,2.43,4.75,3.57,0.89,0.46,11.79,1.8,5.0,3.3,0.7,0.2,9.4
1,1610612739,Ty Jerome,G-F,1629660,ORL,1,0.00,1.00,3.00,0.00,0.00,2.00,0.0,0.1,0.3,0.0,0.0,0.4
2,1610612739,Caris LeVert,G,1627747,ORL,25,1.72,3.24,4.36,0.92,0.36,12.92,1.1,3.6,5.3,0.7,0.4,10.4
3,1610612739,Evan Mobley,C,1630596,ORL,17,0.24,10.82,3.06,0.88,1.59,14.88,0.8,9.1,2.5,0.9,1.0,15.4
4,1610612739,Sam Merrill,G,1630241,ORL,21,2.38,2.10,1.71,0.48,0.05,8.24,1.7,0.7,1.0,0.4,0.0,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1610612758,Keon Ellis,G,1631165,SAS,16,1.06,1.56,1.81,0.69,0.56,4.56,0.6,0.9,0.5,0.1,0.2,2.4
203,1610612758,Alex Len,C,203458,SAS,7,0.00,2.71,1.57,0.43,0.57,4.14,0.0,2.8,0.6,0.4,0.2,2.7
204,1610612758,Jordan Ford,G,1630259,SAS,2,0.00,0.00,0.00,0.00,0.00,0.00,0.2,0.2,0.2,0.0,0.0,1.2
205,1610612758,Harrison Barnes,F,203084,SAS,24,1.71,3.04,1.21,0.67,0.21,11.08,2.0,3.1,0.8,0.7,0.1,13.6
206,1610612758,Trey Lyles,F,1626168,SAS,18,1.67,4.61,1.22,0.11,0.39,7.94,1.9,4.0,0.9,0.8,0.3,9.1

In [71]:
away_stats_df = pd.DataFrame()
GP =[]
stat_columns = ['FG3M', 'REB', 'AST', 'STL', 'BLK', 'PTS']
# for player in range(12,14):
for player in range(len(away_rosters)):
    # print(player)
    ## game_log will get the player throughout the season
    game_log = playergamelog.PlayerGameLog(player_id=away_rosters['PLAYER_ID'][player]).get_data_frames()[0]
  
       ## home and away statistics
    away_games = game_log[game_log['MATCHUP'].str.contains('@')]

    try:
        away_stats = away_games[stat_columns].sum()/len(away_games)
    except:
        away_stats = pd.Series([0, 0, 0, 0, 0, 0], index= stat_columns)
    
    away_stats_df = pd.concat([away_stats_df, away_stats.to_frame().transpose()], ignore_index=True )
    GP.append(len(away_games))
away_stats_df.insert(0, 'GP', GP)
    
    
away_player_stats = pd.concat([away_rosters,away_stats_df], axis=1)

#Save pulls the stats for each away player

KeyboardInterrupt:

In [11]:
away_player_stats

,TeamID,PLAYER,POSITION,PLAYER_ID,AwayOpp,GP,FG3M,REB,AST,STL,BLK,PTS
0,1610612753,Anthony Black,G,1641710,CLE,25,0.520000,2.200000,1.120000,0.480000,0.280000,5.560000
1,1610612753,Jonathan Isaac,F,1628371,CLE,20,0.450000,3.950000,0.450000,0.800000,1.150000,5.150000
2,1610612753,Caleb Houstan,G,1631216,CLE,20,1.250000,1.250000,0.500000,0.350000,0.050000,4.800000
3,1610612753,Chuma Okeke,F,1629643,CLE,15,0.933333,2.333333,0.600000,0.266667,0.333333,4.200000
4,1610612753,Jalen Suggs,G,1630591,CLE,26,1.961538,3.269231,2.038462,1.384615,0.653846,10.461538
...,...,...,...,...,...,...,...,...,...,...,...,...
204,1610612759,Charles Bassey,C-F,1629646,SAC,9,0.000000,4.444444,1.444444,0.666667,1.000000,5.555556
205,1610612759,David Duke Jr.,G,1630561,SAC,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
206,1610612759,Julian Champagnie,F,1630577,SAC,27,1.259259,2.518519,0.888889,0.629630,0.481481,6.148148
207,1610612759,Tre Jones,G,1630200,SAC,28,0.571429,3.000000,5.535714,1.142857,0.107143,9.357143
208,1610612759,Sandro Mamukelashvili,F-C,1630572,SAC,19,0.210526,1.526316,0.736842,0.157895,0.210526,2.000000

In [12]:
# last ten games played
last_ten = game_log.head(10)


## the MIL will have to be the input of whatever team they will play today
## this will be for a specific player as well
matchups = game_log[game_log['MATCHUP'].str.contains(home_rosters['HomeOpp'][player])]

KeyError: 208

In [39]:
last_ten

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,1630572,0022300785,"FEB 14, 2024",SAS @ DAL,L,5,0,2,0.000,...,0,1,0,0,0,0,0,0,2,1
1,22023,1630572,0022300764,"FEB 12, 2024",SAS @ TOR,W,6,1,2,0.500,...,1,2,0,0,0,0,1,2,-4,1
2,22023,1630572,0022300750,"FEB 10, 2024",SAS @ BKN,L,4,1,1,1.000,...,0,0,0,0,0,0,0,2,4,1
3,22023,1630572,0022300730,"FEB 07, 2024",SAS @ MIA,L,3,1,2,0.500,...,0,0,2,0,0,0,0,2,4,1
4,22023,1630572,0022300641,"JAN 26, 2024",SAS vs. POR,W,1,0,0,0.000,...,0,0,0,0,0,0,0,0,1,1
5,22023,1630572,0022300622,"JAN 24, 2024",SAS vs. OKC,L,5,2,3,0.667,...,1,1,0,0,0,0,0,4,7,1
6,22023,1630572,0022300571,"JAN 17, 2024",SAS @ BOS,L,5,1,2,0.500,...,2,2,0,0,0,0,0,2,2,1
7,22023,1630572,0022300559,"JAN 15, 2024",SAS @ ATL,L,1,0,1,0.000,...,0,0,0,0,0,0,0,0,-4,1
8,22023,1630572,0022300548,"JAN 13, 2024",SAS vs. CHI,L,18,3,7,0.429,...,5,8,1,1,2,0,5,8,-6,1
9,22023,1630572,0022300541,"JAN 12, 2024",SAS vs. CHA,W,10,0,1,0.000,...,1,2,0,0,1,0,1,1,2,1

In [20]:
## All teams and their standings
league_standings = leaguestandings.LeagueStandings().get_data_frames()[0]
league_standings

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,...,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,PreAS,PostAS
0,00,22023,1610612738,Boston,Celtics,East,28-6,1,,Atlantic,...,None,None,None,None,None,3-0,11-4,12-2,41-12,None
1,00,22023,1610612750,Minnesota,Timberwolves,West,25-8,1,,Northwest,...,None,None,None,None,None,1-2,13-2,10-3,37-16,None
2,00,22023,1610612739,Cleveland,Cavaliers,East,23-11,2,,Central,...,None,None,None,None,None,1-3,9-6,8-5,35-17,None
3,00,22023,1610612760,Oklahoma City,Thunder,West,22-13,2,,Northwest,...,None,None,None,None,None,3-1,9-5,10-3,36-17,None
4,00,22023,1610612746,LA,Clippers,West,21-13,3,,Pacific,...,None,None,None,None,None,3-1,5-9,11-2,35-17,None
5,00,22023,1610612749,Milwaukee,Bucks,East,25-12,3,,Central,...,None,None,None,None,None,2-1,11-5,11-2,35-19,None
6,00,22023,1610612743,Denver,Nuggets,West,20-12,4,,Northwest,...,None,None,None,None,None,4-0,9-6,10-5,36-18,None
7,00,22023,1610612752,New York,Knicks,East,22-11,4,,Atlantic,...,None,None,None,None,None,2-2,9-5,6-8,33-21,None
8,00,22023,1610612740,New Orleans,Pelicans,West,23-18,5,,Southwest,...,None,None,None,None,None,2-1,8-8,9-5,32-22,None
9,00,22023,1610612755,Philadelphia,76ers,East,21-13,5,,Atlantic,...,None,None,None,None,None,2-1,10-5,10-4,32-21,None
10,00,22023,1610612753,Orlando,Magic,East,19-14,6,,Southeast,...,None,None,None,None,None,2-2,11-3,6-8,29-24,None
11,00,22023,1610612756,Phoenix,Suns,West,18-15,6,,Pacific,...,None,None,None,None,None,2-2,9-5,6-8,31-22,None
12,00,22023,1610612754,Indiana,Pacers,East,23-14,7,,Central,...,None,None,None,None,None,2-1,7-7,8-6,30-25,None
13,00,22023,1610612758,Sacramento,Kings,West,19-14,7,,Pacific,...,None,None,None,None,None,2-1,8-6,9-5,30-22,None
14,00,22023,1610612742,Dallas,Mavericks,West,19-18,8,,Southwest,...,None,None,None,None,None,3-0,8-6,8-8,31-23,None
15,00,22023,1610612748,Miami,Heat,East,20-16,8,,Southeast,...,None,None,None,None,None,1-3,10-5,8-5,28-25,None
16,00,22023,1610612741,Chicago,Bulls,East,15-18,9,,Central,...,None,None,None,None,None,2-2,4-12,9-5,26-28,None
17,00,22023,1610612747,Los Angeles,Lakers,West,19-17,9,,Pacific,...,None,None,None,None,None,2-2,9-7,6-8,28-26,None
18,00,22023,1610612737,Atlanta,Hawks,East,14-22,10,,Southeast,...,None,None,None,None,None,2-2,7-7,4-10,24-30,None
19,00,22023,1610612744,Golden State,Warriors,West,14-19,10,,Pacific,...,None,None,None,None,None,3-1,6-9,6-7,26-25,None
20,00,22023,1610612751,Brooklyn,Nets,East,14-15,11,,Atlantic,...,None,None,None,None,None,1-2,8-7,6-9,21-31,None
21,00,22023,1610612762,Utah,Jazz,West,13-20,11,,Northwest,...,None,None,None,None,None,1-3,5-10,8-6,26-28,None
22,00,22023,1610612745,Houston,Rockets,West,16-13,12,,Southwest,...,None,None,None,None,None,0-3,8-5,7-7,24-29,None
23,00,22023,1610612761,Toronto,Raptors,East,12-22,12,,Atlantic,...,None,None,None,None,None,1-3,8-7,3-10,19-35,None
24,00,22023,1610612763,Memphis,Grizzlies,West,12-24,13,,Southwest,...,None,None,None,None,None,0-4,4-9,6-9,18-36,None
25,00,22023,1610612766,Charlotte,Hornets,East,8-25,13,,Southeast,...,None,None,None,None,None,1-2,5-9,1-12,12-41,None
26,00,22023,1610612757,Portland,Trail Blazers,West,6-29,14,,Northwest,...,None,None,None,None,None,1-3,5-9,3-10,15-37,None
27,00,22023,1610612764,Washington,Wizards,East,6-31,14,,Southeast,...,None,None,None,None,None,1-2,2-13,3-11,9-44,None
28,00,22023,1610612759,San Antonio,Spurs,West,7-21,15,,Southwest,...,None,None,None,None,None,2-2,1-13,2-12,11-43,None
29,00,22023,1610612765,Detroit,Pistons,East,5-25,15,,Central,...,None,None,None,None,None,2-2,0-15,1-12,8-44,None

In [61]:
## players on teams
## input team id --> then get players positions and IDs

team_players = commonteamroster.CommonTeamRoster(team_id='1610612751') 
team = team_players.get_data_frames()[0]

bkn_roster = team[['TeamID', 'PLAYER', 'POSITION', 'PLAYER_ID']]
## this will be a series for each
## to use probably should turn it into a list

bkn_roster

        TeamID               PLAYER POSITION  PLAYER_ID
0   1610612751      Dariq Whitehead        F    1641727
1   1610612751        Mikal Bridges      G-F    1628969
2   1610612751      Cameron Johnson        F    1629661
3   1610612751     Dennis Smith Jr.        G    1628372
4   1610612751     Lonnie Walker IV      G-F    1629022
5   1610612751      Trendon Watford        F    1630570
6   1610612751          Ben Simmons      G-F    1627732
7   1610612751     Keita Bates-Diop        F    1628966
8   1610612751      Dennis Schroder        G     203471
9   1610612751       Day'Ron Sharpe        C    1630549
10  1610612751         Noah Clowney        F    1641730
11  1610612751         Jalen Wilson        F    1630592
12  1610612751           Cam Thomas        G    1630560
13  1610612751  Dorian Finney-Smith        F    1627827
14  1610612751          Nic Claxton        C    1629651
15  1610612751         Keon Johnson        G    1630553

In [80]:
## all nba teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
all_teams = pd.DataFrame(nba_teams)
all_teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

BELOW IS STORAGE FOR PREVIOUS CODE THAT HAS NOW BEEN UPDATED

In [96]:
## player id --> game by game stats
## player id --> matchup using the opposing 'MIL'

## inputs needed player id --> check
## matchup of the day



game_log = playergamelog.PlayerGameLog(player_id='203999').get_data_frames()[0]
career = playercareerstats.PlayerCareerStats(player_id='203999') 
selected_columns = ['FG3M', 'REB', 'AST', 'STL', 'BLK', 'PTS']
seasons=career.get_data_frames()[0]

## last ten games played
last_ten = game_log.head(10)


## the MIL will have to be the input of whatever team they will play today
matchups = game_log[game_log['MATCHUP'].str.contains('MIL')]


## home and away statistics
home_games = game_log[~game_log['MATCHUP'].str.contains('@')]
away_games = game_log[game_log['MATCHUP'].str.contains('@')]

home_stats = home_games[selected_columns].sum()/len(home_games)
away_stats = away_games[selected_columns].sum()/len(home_games)



# Season Averages
per_game_averages = seasons[selected_columns].div(seasons['GP'], axis=0)

per_game_averages.insert(0, 'PLAYER_ID', seasons['PLAYER_ID'])
per_game_averages.insert(0, 'SEASON_ID', seasons['SEASON_ID'])
per_game_averages.insert(2, 'TEAM_ID', seasons['TEAM_ID'])
per_game_averages.insert(3, 'TEAM_ABBREVIATION', seasons['TEAM_ABBREVIATION'])

,SEASON_ID,PLAYER_ID,TEAM_ID,TEAM_ABBREVIATION,FG3M,REB,AST,STL,BLK,PTS
0,2015-16,203999,1610612743,DEN,0.350000,7.000000,2.362500,0.987500,0.625000,9.950000
1,2016-17,203999,1610612743,DEN,0.616438,9.835616,4.917808,0.835616,0.753425,16.726027
2,2017-18,203999,1610612743,DEN,1.480000,10.706667,6.106667,1.200000,0.813333,18.466667
3,2018-19,203999,1610612743,DEN,1.037500,10.812500,7.250000,1.350000,0.687500,20.050000
4,2019-20,203999,1610612743,DEN,1.095890,9.739726,7.013699,1.164384,0.602740,19.945205
5,2020-21,203999,1610612743,DEN,1.277778,10.833333,8.319444,1.319444,0.666667,26.361111
6,2021-22,203999,1610612743,DEN,1.310811,13.770270,7.891892,1.472973,0.851351,27.081081
7,2022-23,203999,1610612743,DEN,0.826087,11.840580,9.826087,1.260870,0.681159,24.492754
8,2023-24,203999,1610612743,DEN,1.056604,12.018868,8.943396,1.150943,0.924528,26.075472

In [96]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
n = pd.DataFrame()
# for team in range(len(all_teams)):
for team in range(0,3):
    print(team)
    new = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(all_teams['id'].to_list()[team]).get_data_frames()[0]
    print(new)
    n = pd.concat([n, new], axis=0)
    print(n)
n

0
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  55  24  31  0.436  2660.0  2397  5144

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1

[1 rows x 55 columns]
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  55  24  31  0.436  2660.0  2397  5144

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1

[1 rows x 55 columns]
1
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  55  43  12  0.782  2665.0  2391  4967

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1

[1 rows x 55 columns]
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  55  24  31  0.436  2660.0  2397  5144
0   Overall     2023-24     2023-24  55  43  12  0.782  2665.0  2391  4967

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1
0         1         1                1

[2 rows x 55 columns]
2
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  53  36  17  0.679  2554.0  2267  4698

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1

[1 rows x 55 columns]
  GROUP_SET GROUP_VALUE SEASON_YEAR  GP   W   L  W_PCT     MIN   FGM   FGA  \
0   Overall     2023-24     2023-24  55  24  31  0.436  2660.0  2397  5144
0   Overall     2023-24     2023-24  55  43  12  0.782  2665.0  2391  4967
0   Overall     2023-24     2023-24  53  36  17  0.679  2554.0  2267  4698

   ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  \
0  ...         1         1         1         1         1          1        1
0  ...         1         1         1         1         1          1        1
0  ...         1         1         1         1         1          1        1

   PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         1         1                1
0         1         1                1
0         1         1                1

[3 rows x 55 columns]

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,FGM,FGA,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2023-24,2023-24,55,24,31,0.436,2660.0,2397,5144,...,1,1,1,1,1,1,1,1,1,1
0,Overall,2023-24,2023-24,55,43,12,0.782,2665.0,2391,4967,...,1,1,1,1,1,1,1,1,1,1
0,Overall,2023-24,2023-24,53,36,17,0.679,2554.0,2267,4698,...,1,1,1,1,1,1,1,1,1,1

In [104]:
from nba_api.stats.endpoints import leaguedashteamstats
offense_team_stats = leaguedashteamstats.LeagueDashTeamStats().get_data_frames()[0]
new.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK'],
      dtype='object')

In [105]:
offense_team_stats['PFD_RANK']

0      5
1     26
2     29
3     30
4     18
5     23
6      2
7     20
8     24
9     19
10    10
11    16
12    17
13     4
14    13
15    12
16     6
17     7
18    14
19     9
20    15
21     1
22    11
23     3
24    27
25    21
26    22
27    25
28     8
29    28
Name: PFD_RANK, dtype: int64

In [107]:
from nba_api.stats.endpoints import playerdashboardbyteamperformance
n = playerdashboardbyteamperformance.PlayerDashboardByTeamPerformance().get_data_frames()

TypeError: PlayerDashboardByTeamPerformance.__init__() missing 1 required positional argument: 'player_id'

In [108]:
from nba_api.stats.endpoints import leaguedashptteamdefend
n = leaguedashptteamdefend.LeagueDashPtTeamDefend().get_data_frames()

In [20]:
from nba_api.stats.endpoints import leaguedashteamstats
n = leaguedashteamstats.LeagueDashTeamStats().get_data_frames()[0]

In [22]:
n.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK'],
      dtype='object')